<!DOCTYPE html>
<html lang="en" ng-app="myApp">  <!-- ng-app -инициализация модуля -->
<head>
	<meta charset="UTF-8">
	<title>new Project</title>
	<script src="../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="script.js"></script>
	<script src="../node_modules/lodash/lodash.js"></script>
	<script src="../node_modules/angular/angular.js"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>
   <!--  <h1> {{ 1+1 }}</h1>
    <h1>2+5 = {{ 2+5 === 7? "Seven":"not seven"; }}</h1> -->



    <!-- <div ng-controller="myCtrl">{{ name + " " + lastName }}</div> -->

    <div ng-controller="myCtrlMain as main">
    	<div  ng-controller="myCtrl as ctrl">
    		<div ng-controller="lastC as last">
    			{{ ctrl.firstName + " " + main.lastName + " " + last.n}}
    		</div>
    	</div>    	
    </div>


    <script>
    	// var app = angular.module("myApp", []);

    	// app.controller("myCtrl", function($scope){
    	// 	$scope.name = "John";
    	// 	$scope.lastName = "Doe";
    	// });

		    
    	var app = angular.module("myApp", []);

    	app
    	.controller("myCtrl", function(){
    		this.firstName = "John";
    		this.lastName = "Doe";
    	})
    	.controller("myCtrlMain", function(){
    		this.firstName = "Alex";
    		this.lastName = "Lebed";
    	})
    	.controller('lastC',function(){
    		this.n = "Ok";
    		
    	});
   
    </script>
	
</body>
</html>