<!DOCTYPE html>
<html lang="en" ng-app="myApp">  <!-- ng-app -инициализация модуля -->
<head>
	<meta charset="UTF-8">
	<title>new Project</title>
	<script src="../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="script.js"></script>
	<script src="../node_modules/lodash/lodash.js"></script>
	<script src="../node_modules/angular/angular.js"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller="myCtrl as ctrl">

	<!-- <p ng-repeat="item in ctrl.list">{{ item }}</p> -->
	<p ng-repeat="item in ctrl.obj"> {{ $index + 1}} {{ item.name + " " + item.age }} </p>

    <script>		    
    	var app = angular.module("myApp", []);

    	app
    	.controller("myCtrl", function(){
    		this.list = ['John', 'Doe', 'Al'];
    		this.obj = [
			    		{name:'John',age:20},
			    		{name:'Den',age:25},
			    		{name:'Alex',age:30}
    				   ];
    	});   
    </script>
	
</body>
</html>